*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(crossword.png);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

#mapa{
    margin: 1% auto;
    width: 800px;
    height: 500px;
}

#buscadors{
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
}

#buscadors label{
    display: inline-block;
    width: 80px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
}

#minmax{
    top: 42%;
    position: absolute;
    width: 250px;
    left: 1%;
}

#minmax #max,
#minmax #min{
    margin-top: 50px;
}

#minmax #max div,
#minmax #min div{
    margin-left: 60px;
}

#minmax #max span,
#minmax #min span{
    font-size: 2rem;
    color: rgb(80, 79, 79);
}

#minmax #max img,
#minmax #min img{
    margin-top: 5px;
    float: left;
}

.tooltip{
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    background: white;
    border: 1px solid #ddd;
    pointer-events: none;
    font: 15px sans-serif;
    z-index: 2;
    padding: 10px;
    opacity: 0;
    line-height: 18px;
}

.busqueda{
    position: absolute;
    right: 50px;
    top: 30%;
    width: 400px;
    color: grey;
}